body {
  background: #333
}
.header {
  padding: 5px 10px;
  text-align: center;
  background-color: #222;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 2px #444;
}

.header h1 {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: normal;
}

#root img{
  width: 100%;
}

#root{
  padding: 10px 20px;
  background-color: #AA2624;
  color: #999;
}

#actual{
  color: #999;
}
.videos{
  padding: 20px 10px;
  cursor: pointer;
}

.videos:hover{
  background-color: #999;
  color: #AA2624;
}

@media screen and (max-width: 767px) {
  #root{
    display: flex;
    flex-wrap: wrap;
  }
  .videos {
    flex: 45%;
    margin: 2%;
  }
  .videos:hover{
    text-decoration: underline;
  }
}